*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
    resize: none;
}

body{
    background-image:url(multimedia/fondo2.jpg);
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow-x: hidden;
}

main{
display: flex;
flex-direction: column;
align-items: center;
}

nav{
justify-content: flex-start;
width: 100vw;
}

.subtitulo{
    color: whitesmoke;
    margin: 1%;
    text-align: center;
}
header{
    margin-bottom: 1%;
    display: flex;
}
.titulo{
    margin: 1%;
    display: flex;
    flex-direction: row;
    width: 100%;
    color: white;
    justify-content: center;
    font-size: x-large;
}

.fotosNovedades{
    border: 3px solid black;
}

.novedades{
display: flex;
flex-direction: row;
justify-content: center;
}

.productosDestacados{
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.fotoProducto{
    border-width: 3px;
    border: 3px solid black;
    border-radius: 10px;
    margin: 1%;
    width: 30%;
    background-color: whitesmoke;
}
footer{
    margin: 1%;
    color: white;
    font-size: 10px;
    display:flex;
    justify-content: space-between;

}

.publicidad{
    border-width: 3px;
    border: 3px solid black;
    border-radius: 10px;
}

.redesSociales{
    justify-content: center;
    margin-right: 1%;
}
.copyright{
    display: flex;
    align-items: flex-end;

}
aside{
    margin: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.listaProductos{
color: white;
border-radius: 10px;
display: flex;
flex-direction: column;
width: 100%;
}
.irAlCarrito{
    width: 8.8%;
    border: 2px solid black;
    padding: 0.3%;
    align-content: center;
    background-color: white;
    border-radius: 10px;
    display: flex;
    margin: 1%;
    text-align: center;
}
.botonPagar{
    font-size: large;
    text-decoration: none;
    color: black;
    flex-wrap: nowrap;
    text-align: center;
}
.contenedorProducto{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.fotoProducto:hover{
border: 2px solid yellow;
}

.tituloDescripcion{
    display: flex;
}
.tituloProducto{
    margin: 1%;
    border-bottom: 2px solid white;
}
.descripcionProducto{
    justify-content: right;
    align-content: top;
    padding: 1%;
    border: 3px solid black;
    background-color: white;
    border-radius: 10px;
    color: black;
}
.precio{
    display: flex;
    align-content: bottom;
}
.precioDescripcion{
    margin-right: 1%;
}
h3{
margin-bottom: 1%;
}

h4{
    padding-top: 1%;
    justify-content: center;
}
.añadirCarrito{
margin: 1%;
}
.fotoFormulario{ 
display: flex;
flex-direction: column;
align-items: center;
justify-items: space-between;
}
.fotoConsulta{
    border: 2px solid white;
    border-radius: 10px;
    margin-bottom: 1%;
}
.consultaFoto{
    display: flex;
    justify-content: center;
    width:80%;
    height: 20%;
}

.formulario{
    border: 4px solid black;
    border-radius: 10px;
    padding: 2%;
    margin: 1%;
    background-color: white;
    width: 80%;
}

.formulario2{
    border: 4px solid black;
    border-radius: 10px;
    padding: 2%;
    margin: 1%;
    background-color: white;
}

.form-check-label{
    flex-wrap: nowrap;
}
.formularioContacto{
    width: 100%;
    display: flex;
    justify-content: center;
}
.formItem{
    margin: 1%;
}
.boton{
    padding: 1px;
    width: 8.5%;
    margin-left: 1%;
}
.productosEnCarrito{
    display: grid;
    width: 100vw;
    justify-content: center;
    grid-template-columns: repeat(4, 24%);
    grid-template-rows: repeat(5, 70px);
    grid-template-areas:
    "titulo1 titulo2 titulo3 titulo4"
    "producto1 cantidad1 descripcion1 precio1"
    "producto2 cantidad2 descripcion2 precio2"
    "producto3 cantidad3 descripcion3 precio3"
    "producto4 cantidad4 descripcion4 precio4";
}

.producto1{
    grid-area: producto1;
    background-color: white;
    border: 2px solid black;
    padding-top: 5%;
}
.producto2{
    grid-area: producto2;
    background-color: white;
    border: 2px solid black;
    padding-top: 5%;
}
.producto3{
    grid-area: producto3;
    background-color: white;
    border: 2px solid black;
    padding-top: 5%;
}
.producto4{
    grid-area: producto4;
    background-color: white;
    border: 2px solid black;
    padding-top: 5%;
}
.cantidad1{
    grid-area: cantidad1;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    padding-top: 5%;
}
.cantidad2{
    grid-area: cantidad2;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    padding-top: 5%;
}
.cantidad3{
    grid-area: cantidad3;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    padding-top: 5%;
}
.cantidad4{
    grid-area: cantidad4;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    padding-top: 5%;
}
.precio1{
    grid-area: precio1;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    padding-top: 5%;
}
.precio2{
    grid-area: precio2;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    padding-top: 5%;
}
.precio3{
    grid-area: precio3;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    padding-top: 5%;
}
.precio4{
    grid-area: precio4;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    padding-top: 5%;
}
.descripcion1{
    grid-area: descripcion1;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    padding: 1.5%;
}
.descripcion2{
    grid-area: descripcion2;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    padding: 1.5%;
}
.descripcion3{
    grid-area: descripcion3;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    padding: 1.5%;
}
.descripcion4{
    grid-area: descripcion4;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    padding: 1.5%;
}
.titulo1{
    grid-area: titulo1;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    font-size: x-large;
    padding-top: 4%;
    font-weight: bold;
}
.titulo2{
    grid-area: titulo2;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    font-size: x-large;
    padding-top: 4%;
    font-weight: bold;
}
.titulo3{
    grid-area: titulo3;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    font-size: x-large;
    padding-top: 4%;
    font-weight: bold;
}
.titulo4{
    grid-area: titulo4;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    font-size: x-large;
    padding-top: 4%;
    font-weight: bold;
}

.fa {
    padding: 20px;
    text-decoration: none;
    border-radius: 100%;
    border: 1px solid black;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
    font-size: large;
    padding: 20px 24px 20px 24px;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
    font-size: large;
}
.fa-youtube{
    background: red;
    color: white;
    font-size: large;
}
.fa-instagram{
    background-color: darkblue;
    color: white;
    font-size: large;
}

/* Responsive a 468px */
@media screen and (max-width: 468px){
    body{
        background-image:url(multimedia/fondo2.jpg);
        display: flex;
        flex-direction: column;
        width: 100vw;
        overflow-x: hidden;
    }
    
    nav{
        display: flex;
    }
    
    main{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
    h2{
        color: whitesmoke;
        margin: 2%;
        text-align: center;
    }
    header{
        margin-bottom: 1%;
    }
    .titulo{
        margin: 2% 1% 2% 1%;
        display: flex;
        flex-direction: row;
        width: 100%;
        color: white;
        justify-content: center;
        font-size: medium;
    }
    
    .novedades{
    display: flex;
    flex-direction: row;
    justify-content: center;
    ;
    }
    .productosDestacados{
        margin: 1%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .fotoProducto{
        border-width: 3px;
        border: 3px solid black;
        border-radius: 10px;
        margin: 1%;
        width: 80%;
        background-color: whitesmoke;
    }
    footer{
        width: 98%;
        margin-top: 5px;
        color: white;
        font-size: 10px;
        display:flex;
        justify-content: space-between;
    
    }
    
    .publicidad{
        border-width: 3px;
        border: 3px solid black;
        border-radius: 10px;
        width: 95%;
        height: 9%;
    }
    
    .redesSociales{
        justify-content: right;
        display: grid;
        grid-template-columns: repeat(4, 4%);
        grid-template-rows: repeat(1, 5%);
        grid-template-areas: 
        "fa fa-facebook fa fa-twitter fa fa-youtube fa fa-instagram";
        gap: 33px 33px;
        margin-right: 6vw;
    }
    .copyright{
        display: flex;
        align-items: flex-end;
        margin: 0vw 0vw 1vw 1vw;
    }
    aside{
        margin: 3% 0% 3% 0%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .listaProductos{
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 95%;
    }
    .irAlCarrito{
        width: 34%;
        border: 2px solid black;
        padding: 1% 1% 1% 2%;
        align-content: center;
        background-color: white;
        border-radius: 10px;
        display: flex;
        margin: 2%;
    
    }
    .botonPagar{
        font-size: large;
        text-decoration: none;
        color: black;
        flex-wrap: nowrap;
    
    }
    .contenedorProducto{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .tituloDescripcion{
        display: flex;
    }
    .tituloProducto{
        margin: 1%;
    }
    .descripcionProducto{
        justify-content: right;
        align-content: top;
        margin: 2%;
        padding: 2%;
        border: 3px solid black;
        background-color: white;
        border-radius: 10px;
        font-size: smaller;
        color: black;
    }
    .precio{
        display: flex;
        align-content: bottom;
        margin: 3%;
    }
    .precioDescripcion{
        margin-right: 1%;
    }
    h3{
    margin: 3%;
    text-align: center;
    }
    
    h4{
        margin: 1%;
    }
    .añadirCarrito{
    margin: 1%;
    }
    .fotoFormulario{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: space-between;
    }
    .fotoConsulta{
        border: 2px solid white;
        border-radius: 10px;
        margin: 2% 0% 2% 0%;
        width: 460px;
    }
    
    form{
        color: black;
        width: 95vw;
        text-align: center;
        display: flex;
    }
    .formItem{
        margin: 1%;
    }
    .formularioConsulta{
    border-radius: 10px;
    padding: 1%;
    display: flex;
    flex-direction: column;
    background-color: black;
    overflow: hidden;

    }
    .formularioConsulta2{
        border-radius: 10px;
        padding: 1%;
        display: flex;
        flex-direction: column;
        background-color: black;
        overflow: hidden;
        }
    textarea{
    height: 10vw;
    width: 93.5vw;
    }
    .botones{
        text-align: right;
    }
    .boton{
        padding: 1px;
        width: 15%;
        margin: 2%;
        align-self: center;
    }
    .productosEnCarrito{
        display: grid;
        width: 100vw;
        justify-content: center;
        grid-template-columns: repeat(4, 24%);
        grid-template-rows: repeat(5, 70px);
        grid-template-areas:
        "titulo1 titulo2 titulo3 titulo4"
        "producto1 cantidad1 descripcion1 precio1"
        "producto2 cantidad2 descripcion2 precio2"
        "producto3 cantidad3 descripcion3 precio3"
        "producto4 cantidad4 descripcion4 precio4";
    }
    
    .producto1{
        grid-area: producto1;
        background-color: white;
        border: 2px solid black;
        padding-top: 20%;
    }
    .producto2{
        grid-area: producto2;
        background-color: white;
        border: 2px solid black;
        padding-top: 20%;
    }
    .producto3{
        grid-area: producto3;
        background-color: white;
        border: 2px solid black;
        padding-top: 20%;
    }
    .producto4{
        grid-area: producto4;
        background-color: white;
        border: 2px solid black;
        padding-top: 20%;
    }
    .cantidad1{
        grid-area: cantidad1;
        background-color: white;
        border: 2px solid black;
        text-align: center;
        padding-top: 20%;
    }
    .cantidad2{
        grid-area: cantidad2;
        background-color: white;
        border: 2px solid black;
        text-align: center;
        padding-top: 20%;
    }
    .cantidad3{
        grid-area: cantidad3;
        background-color: white;
        border: 2px solid black;
        text-align: center;
        padding-top: 20%;
    }
    .cantidad4{
        grid-area: cantidad4;
        background-color: white;
        border: 2px solid black;
        text-align: center;
        padding-top: 20%;
    }
    .precio1{
        grid-area: precio1;
        background-color: white;
        border: 2px solid black;
        text-align: center;
        padding-top: 20%;
    }
    .precio2{
        grid-area: precio2;
        background-color: white;
        border: 2px solid black;
        text-align: center;
        padding-top: 20%;
    }
    .precio3{
        grid-area: precio3;
        background-color: white;
        border: 2px solid black;
        text-align: center;
        padding-top: 20%;
    }
    .precio4{
        grid-area: precio4;
        background-color: white;
        border: 2px solid black;
        text-align: center;
        padding-top: 20%;
    }
    .descripcion1{
        grid-area: descripcion1;
        background-color: white;
        border: 2px solid black;
        text-align: center;
        padding: 1.5%;
        font-size: smaller;
        overflow: hidden;
    }
    .descripcion2{
        grid-area: descripcion2;
        background-color: white;
        border: 2px solid black;
        text-align: center;
        padding: 1.5%;
        font-size: smaller;
        overflow: hidden;
    }
    .descripcion3{
        grid-area: descripcion3;
        background-color: white;
        border: 2px solid black;
        text-align: center;
        padding: 1.5%;
        font-size: smaller;
        overflow: hidden;
    }
    .descripcion4{
        grid-area: descripcion4;
        background-color: white;
        border: 2px solid black;
        text-align: center;
        padding: 1.5%;
        font-size: smaller;
        overflow: hidden;
    }
    .titulo1{
        grid-area: titulo1;
        background-color: white;
        border: 2px solid black;
        text-align: center;
        font-size: medium;
        padding-top: 20%;
        font-weight: bold;
    }
    .titulo2{
        grid-area: titulo2;
        background-color: white;
        border: 2px solid black;
        text-align: center;
        font-size: medium;
        padding-top: 20%;
        font-weight: bold;
    }
    .titulo3{
        grid-area: titulo3;
        background-color: white;
        border: 2px solid black;
        text-align: center;
        font-size: medium;
        padding-top: 20%;
        font-weight: bold;
    }
    .titulo4{
        grid-area: titulo4;
        background-color: white;
        border: 2px solid black;
        text-align: center;
        font-size: medium;
        padding-top: 20%;
        font-weight: bold;
    }
    
    .fa {
        padding: 20px;
        width: 5%;
        text-align: center;
        text-decoration: none;
        border-radius: 10px;
        border: 1px solid black;
    }
    .fa:hover {
        opacity: 0.7;
    }
    .fa-facebook {
        background: #3B5998;
        color: white;
    }
    .fa-twitter {
        background: #55ACEE;
        color: white;
    }
    .fa-youtube{
        background: red;
        color: white;
    }
    .fa-instagram{
        background-color: darkblue;
        color: white;
    }
    
}