* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
    resize: none;
}

body {
    background-image: url(multimedia/fondo2.jpg);
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow-x: hidden;
}

p{
    margin-bottom: 0;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    justify-content: flex-start;
    width: 100vw;
}

.subtitulo {
    color: whitesmoke;
    margin: 1%;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

header {
    margin-bottom: 1%;
    display: flex;
}

.titulo {
    margin: 1%;
    display: flex;
    flex-direction: row;
    width: 100%;
    color: white;
    justify-content: center;
    font-size: x-large;
}

.fotosNovedades {
    border: 3px solid black;
}

.novedades {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.productosDestacados {
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 3px solid black;
    border-radius: 10px;
    padding: 1% 3% 1% 3%;
    background-color: rgb(33, 37, 41);
}


footer {
    margin-top: 1%;;
    padding-top: 1%;
    color: white;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(33, 37, 41);
    border-top: 3px solid black;
}

.publicidad {
    border-width: 3px;
    border: 3px solid black;
    border-radius: 10px;
}

.redesSociales {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.copyright{
    display: flex;
    align-items: flex-end;
    margin-bottom: 0;
}

aside {
    margin: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.listaProductos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cartaProducto {
    border: 4px solid black;
    border-radius: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(33, 37, 41);
    margin: 1%;
    overflow: hidden;
}

.contenedorFoto {
    width: 100%;
    background-color: white;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    display: flex;
    justify-content: center;
}

.fotoProducto {
    background-color: whitesmoke;
    margin: 1%;
    height: 17vw;
}

.descripcionProducto {
    border: 3px solid black;
    border-radius: 10px;
    margin: 1%;
    width: 95%;
    padding: 1%;
    background-color: white;
}

.precio {
    display: flex;
    align-content: bottom;
    display: flex;
    justify-content: center;
}

.precioCantidadAñadir {
    border: 3px solid black;
    border-radius: 10px;
    width: 95%;
    text-align: center;
    padding: 1%;
    margin: 1%;
    background-color: white;
}

.tituloCarta {
    margin: 1%;
    color: white;
}

.añadirCarrito {
    margin: 0% 1% 0% 1%;
}

.cantidadProducto {
    width: 40%;
}

.fotoProductoInicio{
    background-color: white;
    margin: 1%;
    height: 17vw;
    border: 3px solid black;
    border-radius: 10px;
}

.fotoProductoInicio:hover {
    border: 2px solid yellow;
}


h3 {
    margin-bottom: 1%;
}

.añadirCarrito {
    margin: 0% 1% 0% 1%;
}


.precio {
    margin: 1%;
}

.fotoFormulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: space-between;
}

.fotoConsulta {
    border: 2px solid white;
    border-radius: 10px;
    margin-bottom: 1%;
}

.consultaFoto {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 20%;
}

.formulario {
    border: 4px solid black;
    border-radius: 10px;
    padding: 2%;
    margin: 1%;
    background-color: white;
    width: 80%;
}

.formulario2 {
    border: 4px solid black;
    border-radius: 10px;
    padding: 2%;
    margin: 1%;
    background-color: white;
}

.form-check-label {
    flex-wrap: nowrap;
}

.formularioContacto {
    width: 100%;
    display: flex;
    justify-content: center;
}

.formItem {
    margin: 1%;
}

.totalPagar{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    height: 5vw;
    margin: 3vw;
    align-items: center;
    background-color: rgb(33, 37, 41);
    padding: 3.5vw;
    border: 3px solid black;
    border-radius: 10px;
}

.total{
border: 2px solid black;
border-radius: 10px;
background-color: white;
padding: 1.2%;
font-size: 1.5vw;
}

.irAPagar{
margin: 1%;
font-size: 1.2vw;
}

.productosEnCarrito {
    display: grid;
    width: 100vw;
    border: 3px solid black;
    border-radius: 10px;
    padding: 2%;
    background-color: rgb(33, 37, 41);
    justify-content: center;
    grid-template-columns: repeat(4, 24%);
    grid-template-rows: repeat(5, 70px);
    grid-template-areas:
        "titulo1 titulo2 titulo3 titulo4"
        "producto1 cantidad1 descripcion1 precio1"
        "producto2 cantidad2 descripcion2 precio2"
        "producto3 cantidad3 descripcion3 precio3"
        "producto4 cantidad4 descripcion4 precio4";
}

.producto1 {
    grid-area: producto1;
    background-color: white;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.producto2 {
    grid-area: producto2;
    background-color: white;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.producto3 {
    grid-area: producto3;
    background-color: white;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.producto4 {
    grid-area: producto4;
    background-color: white;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cantidad1 {
    grid-area: cantidad1;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cantidad2 {
    grid-area: cantidad2;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cantidad3 {
    grid-area: cantidad3;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cantidad4 {
    grid-area: cantidad4;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.precio1 {
    grid-area: precio1;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.precio2 {
    grid-area: precio2;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.precio3 {
    grid-area: precio3;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.precio4 {
    grid-area: precio4;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.descripcion1 {
    grid-area: descripcion1;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.descripcion2 {
    grid-area: descripcion2;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.descripcion3 {
    grid-area: descripcion3;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.descripcion4 {
    grid-area: descripcion4;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    overflow: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
}

.descripciones{
    font-size: 0.8vw;
}

.titulo1 {
    grid-area: titulo1;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.titulo2 {
    grid-area: titulo2;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.titulo3 {
    grid-area: titulo3;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.titulo4 {
    grid-area: titulo4;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.fa {
    padding: 20px;
    text-decoration: none;
    border-radius: 100%;
    border: 1px solid black;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    font-size: large;
    padding: 20px 24px 20px 24px;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
    font-size: large;
}

.fa-youtube {
    background: red;
    color: white;
    font-size: large;
}

.fa-instagram {
    background-color: darkblue;
    color: white;
    font-size: large;
}


/*  responsive 900px */

@media only screen and (max-width: 900px){
    .cartaProducto{
        width: 40%;
    }
}

/*  responsive 740px */

@media only screen and (max-width: 740px){
    .publicidad{
    height: 12vw;}
    .titulos{
        font-size: 3vw;
    }
    .descripciones{
        font-size: 1.5vw;
    }
    .productosDestacados{
        display: flex;
        flex-direction: column;
        padding: 2%;
    }
    .productosDestacados{
        width: 80%;
    }
    .fotoProductoInicio{
        height: auto;
    }
}

/* Responsive a 672px */
@media screen and (max-width: 672px) and (min-width:468px) {
    .cartaProducto{
        width: 70%;
        height: fit-content;
        justify-content: space-evenly;
    }
    .totalPagar{
        height: 20%;
    }
    .irAPagar{
        width: 25%;
        font-size: 1.7vw;
    }
}
/* Responsive a 468px */
@media screen and (max-width: 468px) {

    .publicidad{
        width: 100%;
        height: auto;
        margin: 2% 0% 2% 0%;
    }

    .cartaProducto{
        width: 85%;
    }

    .fotoProducto{
        height: 35vw;
    }

    .fa {
        padding: 15px;
        text-decoration: none;
        border-radius: 100%;
        border: 1px solid black;
    }
    
    .fa:hover {
        opacity: 0.7;
    }
    
    .fa-facebook {
        background: #3B5998;
        color: white;
        font-size: small;
        padding: 15px 18px 15px 18px;
    }
    
    .fa-twitter {
        background: #55ACEE;
        color: white;
        font-size: small;
    }
    
    .fa-youtube {
        background: red;
        color: white;
        font-size: small;
    }
    
    .fa-instagram {
        background-color: darkblue;
        color: white;
        font-size: small;
    }
    footer{
        display: flex;
    }
    .fotoProductoInicio{
        height: 40vw;
    }
    .formulario{
        width: 95%;
        font-size: small;
    }
    .form-control{
        font-size: small;
    }
    .input-group-text{
        font-size: small;
    }
    .form-select{
        font-size: small;
    }
    .fotoConsulta{
        height: 38vw;
    }
    .totalPagar{
        height: 35%;
    }
    .irAPagar{
        width: 30%;
        font-size: 2vw;
    }
    .total{
        text-align: center;
    }
    .productosEnCarrito{
        margin: 1%;
    }
    .descripciones{
        font-size: 1.5vw;
    }
    .productos{
        font-size: small;
    }
    .precios{
        font-size: small;
    }
    .titulos{
        font-size: smaller;
    }
}

/* Responsive a 410px */

@media only screen and (max-width: 410px){
    .titulos{
        font-size: x-small;
    }
}

/* Responsive a 290px */

@media only screen and (max-width: 290px){
    .fa {
        text-decoration: none;
        border-radius: 0%;
        border: 1px solid black;
    }
    
    .fa:hover {
        opacity: 0.7;
    }
    
    .fa-facebook {
        background: #3B5998;
        color: white;
        font-size: x-small;
    }
    
    .fa-twitter {
        background: #55ACEE;
        color: white;
        font-size: x-small;
    }
    
    .fa-youtube {
        background: red;
        color: white;
        font-size: x-small;
    }
    
    .fa-instagram {
        background-color: darkblue;
        color: white;
        font-size: x-small;
}
footer{
    font-size:xx-small;
}
.copyright{
    align-items: flex-start;
    width: 30%;
}
.redesSociales{
    padding-bottom: 1%;
}
h1{
    text-align: center;
}
.productos{
    font-size: x-small;
}
.precios{
    font-size: x-small;
}
.titulos{
    font-size: xx-small;
}
}